# Ignore arquivos temporários de edição
*~
*.tmp
*.swp
*.swo

# Ignore diretórios de compilação
build/
CMakeFiles/
CMakeCache.txt

# Ignore arquivos de backup e arquivos gerados automaticamente
*.zip
*.pdf
*.docx
*.mp4

# Ignore diretórios do sistema e de IDEs
.vscode/
*.DS_Store